<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>HomeLab</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>HomeLab</h1>
    <br/><br/>
    <h2>Aviation</h2>
    <a href="/metar">KBED Metar</a>
    <br/><br/>
    <a href="/flights">KBED Flights</a>
    <br/><br/>
    <hr/>
    <h2>Sports</h2>
    <a href="/sox">Red Sox</a>
  </body>
</html>
