<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>HomeLab</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>HomeLab</h1>
    <br/><br/>
    <h2>Directory</h2>
    <a href="http://192.168.1.65" target="_blank">Home</a><br/>
    <a href="http://192.168.1.2:8006" target="_blank">Proxmox</a><br/>
    <a href="http://192.168.1.62:10086" target="_blank">WireGuard</a><br/>
    <!-- 63 is also used by Jellyfin --> 
    <a href="http://192.168.1.64:8096" target="_blank">Jellyfin</a><br/>
    <a href="http://192.168.1.66" target="_blank">ntfy</a><br/>
    <!-- 67 either used by pihole or ntfy -->
    <a href="http://192.168.1.68/admin/" target="_blank">Pihole</a><br/>
    <br/>
    <h2>Aviation</h2>
    <a href="/metar">KBED Metar</a>
    <br/><br/>
    <a href="/flights">KBED Flights</a>
    <br/><br/>
    <hr/>
    <h2>Sports</h2>
    <a href="/sox">Red Sox</a>
  </body>
</html>
