<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>HomeLab</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>HomeLab</h1>
    <br/><br/>
    <h2>Directory</h2>
    <a href="http://metar.home" target="_blank">Home</a><br/>
    <a href="http://proxmox.home:8006" target="_blank">Proxmox</a><br/>
    <a href="http://wireguard.home:10086" target="_blank">WireGuard</a><br/>
    <a href="http://jellyfin.home:8096" target="_blank">Jellyfin</a><br/>
    <a href="http://ntfy.home" target="_blank">ntfy</a><br/>
    <a href="http://pihole.home/admin/" target="_blank">Pihole</a><br/>
    <a href="http://aviation.home/tar1090" target="_blank">ADSB Map</a><br/>
    <br/>
    <h2>Aviation</h2>
    <a href="/metar">KBED Metar</a>
    <br/><br/>
    <a href="/flights">KBED Flights</a>
    <br/><br/>
    <hr/>
    <h2>Sports</h2>
    <a href="/sox">Red Sox</a>
  </body>
</html>
